@import '../styles';
.optionone-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    justify-content: center;
    align-items: center;
    input{
      border: 1px solid rgb(154, 154, 154);
    }
    button{
      cursor: pointer;
    }
  }
  .optionone-result{
    width: 90%;
    height: 70%;
    margin-top: 20px;
    border: 1px solid red;
    .file-preview{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 400px;
      height: 50%;
      border: 1px solid blue;
      textarea{
        width: 95%;
        height: 70%;
      }
    }
  }
  .optionone-notfound{
    width: 90%;
    height: 70%;
    margin-top: 20px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
