@import '../styles';
.optionone-wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    justify-content: center;
    align-items: center;
    input{
      border: 1px solid rgb(154, 154, 154);
    }
    button{
      cursor: pointer;
    }
  }
  .optionone-result{
    width: 90%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: $bgcolor;
    .file-preview{
      width: 400px;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 10px solid transparent;
      background-color: $bgcolor;
      textarea{
        width: 95%;
        height: 70%;
        resize: none;
        overflow: auto;
        z-index: 2;
        border-radius: 0;
        color: #444;
        background-color: white;
        border: 2px solid $softpurple;
      }
    }
  }
  .optionone-notfound{
    width: 90%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $bgcolor;
  }
}
