<div class="optionone-wrapper">
  <h1>File Finder</h1>
  <form class="" action="index.html" method="post">
    <p>Instructions: Please select a folder that has txt files(up to 100 files)</p>
    <input type="file" id="openFile" webkitdirectory="" directory="" placeholder="Select a folder with .txt files"/>
    <p>Instructions: Please select phrase that you would like found(default phrase:"Find me")</p>
    <input type="text" ng-model='userInput' maxlength="100" placeholder="Find me">
    <button type="button" name="button" ng-click="setPhrase(userInput)">Find Phrase</button>
  </form>
  <div ng-if="found" class="optionone-result">
    <div class="file-preview" ng-repeat='file in foundFile'>
      <h2>File Name: {{file.name}}</h2>
      <textarea name="name">{{file.content}}</textarea>
    </div>
  </div>
  <div ng-if="!found" class="optionone-notfound">
    <h1>File not found</h1>
  </div>
</div>
