<div class="optionone-wrapper">
  <h1>File Finder</h1>
  <form class="" action="index.html" method="post">
    <p><span>Instructions</span>: Select a folder that has only txt files(up to 100 files)</p>
    <input type="file" id="openFile" webkitdirectory="" directory=""/>
    <p><span>Instructions</span>: Select phrase that you would like find(default phrase:"Find me")</p>
    <input type="text" ng-model='userInput' maxlength="100" placeholder="Find me">
    <button type="button" name="button" ng-click="setPhrase(userInput)">Find Phrase</button>
    <button type="button" name="button" ng-click="clear()">Clear Search</button>
  </form>
  <div ng-if="found" class="optionone-result">
    <div class="found-numbers"><span>{{foundFile.length}}</span> files out of <span>{{totalFiles}}</span> files</div>
    <button type="button" name="button" ng-click="clear()">Clear Search</button>
    <div class="file-preview" ng-repeat='file in foundFile'>
      <h2>File Name: <span>{{file.name}}</span></h2>
      <p name="name" ng-bind-html="file.content"></p>
    </div>
  </div>
  <div ng-if="!found" class="optionone-notfound">
    <div class="found-numbers"><span>{{foundFile.length}}</span> files found out of <span>{{totalFiles}}</span> files</div>
    <h1>File not found</h1>
  </div>
</div>
