<div class="optionone-wrapper">
  <h1>File Finder</h1>
  <form class="" action="index.html" method="post">
    <p>Instructions: Please select a folder that has txt files(up to 100 files)</p>
    <input type="file" id="openFile" webkitdirectory="" directory="" placeholder="Select a folder with .txt files"/>
    <p>Instructions: Please select phrase that you would like found(default: phrase is "Find me")</p>
    <input type="text" ng-model='userInput'>
    <button type="button" name="button" ng-click="" placeholder="Find me">Find Phrase</button>
  </form>

</div>
